img {
    width:90%;
    margin-top: 20px;
}
h1 {
  color: rgb(0, 0, 0);
  text-align: center;
}
.navybar {
    
    color: white;
    text-align: right;
    background-color: navy;
}
.navybar a:link { 
    color: white;
}
.navybar a:visited { 
    color: white;
}

.form-center {
    width:300px;
    margin:50px auto;
    
}
.paragraphss {
    width:60%;
    margin:40px auto;

}